<!--START BANNER -->
<tr>
                  <td bgcolor="#FFFFFF" align="center" valign="top"><a href="http://www.eddiebauer.com?cm_mmc=EMAIL-_-SHQ-_-150710-_-logo&cvosrc=email.smarterremarketer.mbottoms072015" target="_blank" style="text-decoration:none;"><img style="display: block; font-weight:bold; font-size:20px; font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;color:#666666; height:auto;" border="0" alt="Promo Banner" src="https://s3.amazonaws.com/www.smarterremarketer.net/templates/SHQ+Email+Images/shq_ad_large.jpg" class="emailImage" width="560"></a></td>
                </tr>

<!—END BANNER—>