<!—START HERO IMAGE —>
<tr>
                  <td align="left" valign="top" class="fullWidth"><a href="#" target="_blank" style="text-decoration:none;">
                  <!-- CHANGE HEADER IMAGE HERE -->
                  <img class="emailImage" style="display: block; font-weight:bold; font-size:20px; font-family: 'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color:#666666; height:auto;" border="0" alt="Promo Image" src="https://s3.amazonaws.com/www.smarterremarketer.net/templates/SHQ+Email+Images/header_image_2.jpg" width="560" ></a></td>
                </tr>
                <tr>
<!—END HERO IMAGE —>