<!-- Start product row 1 -->
<tr>
<td align="left" valign="top">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align="left" class="fullWidth" valign="top" width="270" bgcolor="#3A3A3A"><table width="100%" cellpadding="0" cellspacing="0" border="0"
align="left">
<tr>
<td bgcolor="#3A3A3A" align="left" valign="top" class="fullWidthR" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; lineheight:18px;
color: #636463; text-align:left;"><!--start product -->
<table bgcolor="#3A3A3A" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td align="center" bgcolor="#3A3A3A" ><a href="{CartProductUrl1}" target="_blank" style="text-decoration:none;"> <img style="display:
block; font-weight:bold; font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#ffffff" border="0" alt="{CartProductName1}"
src="{CartImageUrl1}" width="270" class="fullWidth"></a></td>
</tr>
<tr>
<td align="center" width="100%" bgcolor="#3A3A3A" style="padding-left: 10px; padding-right: 10px;" ></td>
</tr>
<tr>
<td align="left" class="prodHeadline" style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; color:#FFFFFF; line-height:15px;
font-size:16px; text-decoration: none; padding: 15px 10px;"><a href="{CartProductUrl1}" target="_blank" style="font-weight: bold; color:#ffffff; text-decoration:
none;">{CartProductName1}</a></td>
</tr>
<tr>
<td height="15" align="left" style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; color:#ffffff; font-size:14px; padding-left:
10px; text-decoration: none;" class="prodPrice">{CartPrice1}</td>
</tr>
<tr>
<td align="left" bgcolor="#3A3A3A" style="font-family:Arial, sans-serif sans-serif; color:#C1D82f; font-size:14px; padding-left: 10px; textdecoration:
none;">&nbsp;</td>
</tr>

</table></td>
</tr>
</table></td>
<td align="left" bgcolor="#ffffff" valign="top" width="20" class="fullWidth">&nbsp;</td>
<td align="left" class="fullWidthR" valign="top" width="255" bgcolor="#3A3A3A"><div align="center">
<table bgcolor="#3A3A3A" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td align="center" bgcolor="#3A3A3A" ><a href="{CartProductUrl2}" target="_blank" style="text-decoration:none;"> <img style="display:
block; font-weight:bold; font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#ffffff" border="0" alt="{CartProductName2}"
src="{CartImageUrl2}" width="270" class="fullWidth"></a></td>
</tr>
<tr>
<td align="center" bgcolor="#3A3A3A" style="padding-left: 10px; padding-right: 10px;" ></td>
</tr>
<tr>
<td align="left" class="prodHeadline" style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; color:#FFFFFF; line-height:15px;
font-size:16px; text-decoration: none; padding: 15px 10px;"><a href="{CartProductUrl2}" target="_blank" style="font-weight: bold; color:#ffffff; text-decoration:
none;"> {CartProductName1}</a></td>
</tr>
<tr>
<td height="15" align="left" style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; color:#ffffff; font-size:14px; padding-left: 10px;
text-decoration: none;" class="prodPrice">{CartPrice2}</td>
</tr>
<tr>
<td align="left" bgcolor="#3A3A3A" style="font-family:Arial, sans-serif sans-serif; color:#C1D82f; font-size:14px; padding-left: 10px; textdecoration:
none;">&nbsp;</td>
</tr>
</table>
</div>
<!--end product table --></td>
</tr>
</table>
</td>
</tr>
<!--END PRODUCT BLOCK -->