<!--START 2 PRODUCT -->
<tr>
<td align="left" valign="top">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align="left" class="fullWidthR" valign="top" bgcolor="#ffffff" style="padding:10px; border:1px solid #ccc;">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" valign="top" class="prodDesc" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:left;">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="center" valign="top" style="padding: 10px; " class="fullWidthLeft">
<!-- CHANGE PRODUCT IMAGE HERE -->
<img border="0" align="left" alt="Product"
src="{ViewImageUrl1}" width="200" class="fullWidth" /> </td>
</tr>
</table>
<!-- CHANGE PRODUCT NAME HERE -->
<span style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 20px; font-weight: bold; color:
#418FDE;" class="prodHeadline">{ViewProductName1}</span> <br />
<!-- CHANGE PRODUCT PRICE HERE -->
<b style="font-size:120%; color:#616161; font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif;" class="prodPrice">{ViewPrice1}</b><br />
<br />

<!-- CHANGE PRODUCT DESCRIPTION HERE -->
<span style="font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif;"> {ViewDescription1}</span></td>
</tr>
<tr>
<td style="padding-top:10px;" align="center" valign="top" class="CTAbtn-container">
<!--BUTTON CONTAINER -->
<table bgcolor="#616161" cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<td class="CTAbtn" style="color:#418FDE; font-size:17px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;">
<!-- CHANGE BUTTON CTA HERE -->
<a href="{ViewProductUrl1}" target="_blank" style="text-decoration:none; color:#ffffff;"><span style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table>
<!--END BUTTON -->
</td>
</tr>
</table>
</td>
<td align="left" valign="top" class="fullWidth" style="font-size:15px;">&nbsp;</td>
<td align="left" class="fullWidthR" valign="top" bgcolor="#ffffff" style="padding:10px; border:1px solid #ccc;">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="left" valign="top" class="prodDesc" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:left;">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<!-- CHANGE PRODUCT IMAGE HERE -->
<td align="center" valign="top" style="padding:10px;" class="fullWidthLeft"> <img border="0" align="left" alt="Product"
src="{ViewImageUrl2}" width="200" class="fullWidth" /> </td>
</tr>
</table>
<!-- CHANGE PRODUCT NAME HERE -->
<span style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 20px; font-weight: bold; color:
#418FDE;" class="prodHeadline">{ViewProductName2}</span> <br />
<!-- CHANGE PRODUCT PRICE HERE -->
<b style="font-size:120%; color:#616161; font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif;" class="prodPrice">{ViewPrice2}</b><br />
<br />
<!-- CHANGE PRODUCT DESCRIPTION HERE -->
<span style="font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif;">{ViewDescription1}</span> </td>
</tr>
<tr>
<td style="padding-top:10px;" align="center" valign="top" class="CTAbtn-container">
<!--BUTTON CONTAINER -->
<table bgcolor="#616161" cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<td class="CTAbtn" style="color:#418FDE; font-size:17px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;">
<!-- CHANGE BUTTON CTA HERE -->
<a href="#" target="_blank" style="text-decoration:none; color:#ffffff;"><span style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table>
<!--END BUTTON -->
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<!—END 2 PRODUCT —>