<!--START PRODUCT ROW -->
<tr>
<td align="left" valign="top">
<table style="border:1px solid #ccc;" bgcolor="#f1f1f1" cellpadding="0"
<tr>
<td align="left" class="foot" valign="top" bgcolor="#f1f1f1" style="padding:20px 0px 0px 20px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td class="prodHeadline" align="center" style="padding-top: 10px; padding-bottom: 10px; font-size:18px; line-height:17px; color:#636463; fontfamily:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight: bold">{CartProductName1}</td>
</tr>
<tr>
<td class="prodDesc" align="left" style="padding-bottom:15px; font-size:16px; line-height:20px; color:#9B9B9B; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; ">{Cartdescription1}
</td>
</tr><tr>
<td align="left" valign="top" style="font-size:15px;"><b style="font-size:120%; color:#616161; font-family:'Century Gothic',Calibri,Helvetica,Arial,sansserif;"
class="prodPriceTop">{CartPrice1}</b></td>
</tr> <tr>
<td align="left" valign="top" style="padding-top: 15px;">
<!--BUTTON CONTAINER -->
<table bgcolor="#616161" cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<td class="CTAbtn" style="color:#418FDE; font-size:17px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;">
<!-- CHANGE BUTTON CTA HERE -->
<a href="{CartProductUrl1}" target="_blank" style="text-decoration:none; color:#ffffff;"><span style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table>
<!--END BUTTON -->
</td>
</tr>
</table>
</td>
<td align="left" valign="top" class="fullWidth" style="font-size:0px;">&nbsp;</td>
<td align="left" class="head" valign="top" bgcolor="#f1f1f1">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align="center" valign="top">&nbsp;</td>
</tr>
<tr>
<td align="center" valign="top"><a href="#"><img style=" display: block;" border="0" alt=""
src="{CartImageUrl1}" width="225" class="top_product_image" /></a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="left" valign="top" class="hide" style="font-size:15px;">&nbsp;</td>
<td align="left" class="fullWidth" valign="top" >&nbsp;</td>
</tr>
</table>
</td>
</tr>
<!-- END PRODUCT ROW -->