<!--Start 2 column product block -->
<tr>
<td class="headline" style="background-color:#616161; color:#ffffff; font-size:20px; line-height:20px; text-align:center; text-transform:uppercase; fontfamily:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:normal; padding:15px;" align="center" valign="top">You might also like?</td>
</tr><tr>
<td align="left" valign="top" style="font-size:15px;">&nbsp;</td>
</tr> <tr>
<td align="center" valign="top">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align="left" class="fullWidthR" valign="top" bgcolor="#ffffff" style="padding:10px; border:1px solid #ccc;"><table width="100%" cellpadding="0"
cellspacing="0" border="0">
<tr>
<td align="left" valign="top" class="prodDesc" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:center;">
<div align="center">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="center" valign="top" style="padding: 10px; " class="fullWidthLeft">
<!-- CHANGE PRODUCT IMAGE HERE -->
<img border="0" align="center" alt="Product"
src="{CartImageUrl1}" width="150" class="product-image" />
</table>
</div>
<!-- CHANGE PRODUCT NAME HERE -->
<span style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 20px; font-weight: bold; color: #418FDE;"
class="prodHeadline">{CartProductName1}</span> <br />
<!-- CHANGE PRODUCT PRICE HERE -->
<b style="font-size:120%; color:#616161; font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif;" class="prodPrice">{CartPrice1}</b><br />
<br />
</td>

</tr>
</table></td>
<td align="left" valign="top" class="fullWidth" width="35">&nbsp;</td>
<td align="left" class="fullWidthR" valign="top" bgcolor="#ffffff" style="padding:10px; border:1px solid #ccc;"><table width="100%" cellpadding="0"
cellspacing="0" border="0">
<tr>
<td align="left" valign="top" class="prodDesc" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:center;">
<div align="center"> <table cellpadding="0" cellspacing="0" border="0">
<tr>
<!-- CHANGE PRODUCT IMAGE HERE -->
<td align="center" valign="top" style="padding:10px;" class="fullWidthLeft"><img border="0" align="center" alt="{CartProductName2}"
src="{CartImageUrl2}" width="150" class="product-image" /></td>
</tr>
</table>
</div>
<!-- CHANGE PRODUCT NAME HERE -->
<span style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 20px; font-weight: bold; color: #418FDE;
align: center;" class="prodHeadline">{CartProductName2}</span> <br />
<!-- CHANGE PRODUCT PRICE HERE -->
<b style="font-size:120%; color:#616161; font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif;" class="prodPrice">{CartPrice2}</b><br />
<br /></td>
</tr>
</table></td>
</tr>
</table>
</td>
</tr>
<!-- end 2 column product block-->