<!--Start 3 column product block -->
<tr>
<td class="headline" style="background-color:#929292; color:#ffffff; font-size:20px; line-height:20px; text-align:center; text-transform:uppercase; fontfamily:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:normal; padding:15px;" align="center" valign="top">You might also like?</td>
</tr><tr>
<td align="left" valign="top" style="font-size:0px;">&nbsp;</td>
</tr>
<tr>
<td align="center" valign="top">
<table style="border:1px solid #ccc;" cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td width="182" class="block" valign="top">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
<tr>
<td align="center" width="100%"><img align="center" border="0" alt="{CartProductName1}"
src="{CartImageUrl1}" width= "180" style="display:block; font-weight:bold;
font-size:14px; max-width:375px; font-family: 'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color:#666666;" class="product-image"></td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:0px;">&nbsp;</td>
</tr>
<tr>
<td width="100%" class="prodHeadline" align="center" style="padding-top:5px; font-size:15px; line-height:20px; color:#418FDE; font-family:
'Century Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">{CartProductName1}</td>
</tr>
<tr>
<td width="100%" class="prodPrice" align="center" style="padding-top:5px; font-size:15px; line-height:20px; color:#333333; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">{CartPrice1}</td>
</tr>
<tr>
<td width="100%" class="prodDesc" align="left" style="padding-top:5px; font-size:13px; line-height:17px; color:#636463; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif;">&nbsp;</td>
</tr>
</table>
</td>
<td align="center" valign="top" width="17" class="block">&nbsp;</td>
<td align="center" width="182" class="block" valign="top">
<table align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
<td align="center" width="100%"><img align="center" border="0" alt="{CartProductName2}"
src="{CartImageUrl2}" width= "180" style="display:block; font-weight:bold;
font-size:14px; max-width:375px; font-family: 'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color:#666666;" class="product-image"></td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:0px;">&nbsp;</td>
</tr>
<tr>
<td width="100%" class="prodHeadline" align="center" style="padding-top:5px; font-size:15px; line-height:20px; color:#418FDE; font-family:
'Century Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">{CartProductName2}</td>
</tr>
<tr>
<td width="100%" class="prodPrice" align="center" style="padding-top:5px; font-size:15px; line-height:20px; color:#333333; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">{CartPrice2}</td>
</tr>
<tr>
<td width="100%" class="prodDesc" align="left" style="padding-top:5px; font-size:13px; line-height:17px; color:#636463; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif;">&nbsp;</td>
</tr>
</table>
</td>
<td align="center" valign="top" width="17" class="block" >&nbsp;</td>
<td class="block" width="182" align="center" valign="top">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align="center" width="100%"><img align="center" border="0" alt="{CartProductName3}"
src="{CartImageUrl3}" width= "180" style="display:block; font-weight:bold;
font-size:14px; max-width:375px; font-family: 'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color:#666666;" class="product-image"></td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:0px;">&nbsp;</td>
</tr>
<tr>
<td width="100%" class="prodHeadline" align="center" style="padding-top:5px; font-size:15px; line-height:20px; color:#418FDE; font-family:
'Century Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">{CartProductName3}</td>
</tr>
<tr>
<td width="100%" class="prodPrice" align="center" style="padding-top:5px; font-size:15px; line-height:20px; color:#333333; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">{CartPrice3}</td>
</tr>
<tr>
<td width="100%" class="prodDesc" align="left" style="padding-top:5px; font-size:13px; line-height:17px; color:#636463; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif;">&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<!-- end 3 column product block-->
