<!-- START SOCIAL MEDIA BLOCK -->
<tr>
            <td style="padding-top: 20px; padding-bottom: 20px;" align="center" valign="top"><table cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td align="left" valign="top"  width="20">&nbsp;</td>
                  <td align="left" valign="top" width="50" style="color:#ffffff; font-size:8px; font-family:Arial, Helvetica, sans-serif;"><!--ADD FACEBOOK LINK HERE -->
                    <a href="#" target="_blank" style="color:#404040; text-decoration:none;"> <img style="display: block;" border="0" alt="Facebook" src="https://s3.amazonaws.com/www.smarterremarketer.net/templates/SHQ+Email+Images/facebook_dark.png" height="50" width="50"></a></td>
                  <td align="left" valign="top"  width="20">&nbsp;</td>
                  <td align="left" valign="top" width="50" style="color:#ffffff; font-size:8px; font-family:Arial, Helvetica, sans-serif;"><!--ADD TWITTER LINK HERE -->
                    <a href="#" target="_blank" style="color:#404040; text-decoration:none;"><img style="display: block;" border="0" alt="Twitter" src="https://s3.amazonaws.com/www.smarterremarketer.net/templates/SHQ+Email+Images/twitter_dark.png" height="50" width="50"></a></td>
                  <td align="left" valign="top" width="20">&nbsp;</td>
                  <td align="left" valign="top" width="50" style="color:#404040; font-size:8px; font-family:Arial, Helvetica, sans-serif;"><!--ADD INSTAGRAM LINK HERE -->
                    <a href="#" target="_blank" style="color:#404040; text-decoration:none;"><img style="display: block;" border="0" alt="Instagram" src="https://s3.amazonaws.com/www.smarterremarketer.net/templates/SHQ+Email+Images/Instagram_dark.png" height="50" width="50"></a></td>
                  <td align="left" valign="top" width="20">&nbsp;</td>
                  <td align="left" valign="top" width="50" style="color:#404040; font-size:8px; font-family:Arial, Helvetica, sans-serif;"><!--ADD PINTREST LINK HERE -->
                    <a href="#" target="_blank" style="color:#404040; text-decoration:none;"><img style="display: block;" border="0" alt="Pinterest" src="https://s3.amazonaws.com/www.smarterremarketer.net/templates/SHQ+Email+Images/pinterest_dark.png" height="50" width="50"></a></td>
                  <td align="left" valign="top" width="20">&nbsp;</td>
                </tr>
              </table>

              </td>
          </tr>
<!--END SOCIAL MEDIA BLOCK -->