<!--START PRODUCT 1 BLOCK -->
<tr>
<td class="noPad">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td bgcolor="#efefef" style="border:1px solid #ccc;" class="block" valign="top" width="100%">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
<tr>
<td width="250" align="center" valign="middle" class="fullWidth" >
<!--CHANGE PRODUCT 1 IMAGE HERE -->
<img align="center" style="display: block; font-size:12px; line-height:20px; color:#666666; font-family: 'Century Gothic',Calibri,Helvetica,Arial,sansserif;
font-weight:normal; padding-left:10px;" border="0" alt="%%CartProductName1%%"
src="%%CartImageUrl1%%" width="250" class="fullWidthImg"></td>
<td align="left" valign="top" width="10" class="hide" style="font-size:15px;">&nbsp;</td>
<td valign="top" width="303" class="fullWidth">
<table celpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<!--CHANGE PRODUCT 1 NAME HERE -->
<td width="100%" valign="top" class="prodHeadline" align="left" style="padding-bottom:5px; font-size:17px; line-height:20px; color:#418FDE;
font-family: 'Century Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">%%CartProductName1%%</td>
</tr>
<tr>
<!--CHANGE PRODUCT 1 PRICE HERE -->
<td width="100%" valign="top" class="prodPrice" align="left" style="padding-bottom:5px; font-size:15px; line-height:20px; color:#333333; fontfamily:Arial,
Helvetica, sans-serif; font-weight:bold;">%%CartPrice1%%</td>
</tr>
<tr>
<!--CHANGE PRODUCT 1 DISCRIPTION HERE -->
<td width="100%" valign="top" class="prodDesc" align="left" style="font-size:12px; line-height:17px; color:#636463; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; ">%%CartDescription1%%</td>
</tr>
<tr>
<td style="padding: 10px;" class="CTAbtn-container">
<table cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<!-- CHANGE PRODUCT 1 BUTTON CTA HERE -->
<td bgcolor="#59656e" class="CTAbtn" style="color:#ffffff; font-size:16px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 20px;"><a href="%%CartImageUrl1%%" target="_blank" style="text-decoration:none; color:#ffffff;"><span
style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td align="left" valign="top" width="10" class="hide" style="font-size:15px;">&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<!--END PRODUCT BLOCK -->