<!-- 3 PRODUCT SECTION -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td class="block" valign="top">
<!-- First Product -->
<table style="border:1px solid #ccc; padding: 5px;" cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
<tr>
<td align="center" width="100%">
<!--CHANGE PRODUCT IMAGE HERE -->
<img border="0" alt="%%ViewProductName1%%" src="%%ViewImageUrl1%%"
width= "170" style="display:block; font-weight:bold; font-size:14px; max-width:375px; font-family: 'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color:#666666;"
class="product-image"></td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:0px;">&nbsp;</td>
</tr>
<tr>
<!--CHANGE PRODUCT NAME HERE -->
<td width="100%" class="prodHeadline" align="center" style="padding:5px; font-size:15px; line-height:15px; color:#418FDE; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">%%ViewProductName1%%</td>
</tr>
<tr>
<!--CHANGE PRODUCT PRICE HERE -->
<td width="100%" class="prodPrice" align="center" style="padding:5px; font-size:15px; line-height:20px; color:#333333; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">%%ViewPrice1%%</td>
</tr>
<tr>
<td class="CTAbtn-container" align="center" style="padding:5px; font-size:13px; line-height:17px; color:#636463; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif;"><table cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<!--CHANGE BUTTON CTA HERE -->
<td bgcolor="#9678D3" class="CTAbtn" style="color:#ffffff; font-size:15px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;"><a href="%%ViewProductUrl1%%" target="_blank" style="text-decoration:none; color:#ffffff;"><span
style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table></td>
</tr>
</table>
<!-- end first product -->
</td>
<td align="center" valign="top" width="10" class="block" style="font-size:15px;">&nbsp;</td>
<td align="center" class="block" valign="top">
<!-- start second product -->
<table style="border:1px solid #ccc; padding: 5px;" cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
<tr>
<td align="center" width="100%">
<!--CHANGE PRODUCT IMAGE HERE -->
<img border="0" alt="%%ViewProductName2%%" src="%%ViewImageUrl2%%" width=
"170" style="display:block; font-weight:bold; font-size:14px; max-width:375px; font-family: 'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color:#666666;"
class="product-image"></td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:0px;">&nbsp;</td>
</tr>
<tr>
<!--CHANGE PRODUCT NAME HERE -->
<td width="100%" class="prodHeadline" align="center" style="padding:5px; font-size:15px; line-height:15px; color:#418FDE; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">%%ViewProductName2%%</td>
</tr>
<tr>
<!--CHANGE PRODUCT PRICE HERE -->
<td width="100%" class="prodPrice" align="center" style="padding:5px; font-size:15px; line-height:20px; color:#333333; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">%%ViewPrice2%%</td>
</tr>
<tr>
<td class="CTAbtn-container" align="center" style="padding:5px; font-size:13px; line-height:17px; color:#636463; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif;"><table cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<!--CHANGE BUTTON CTA HERE -->
<td bgcolor="#9678D3" class="CTAbtn" style="color:#ffffff; font-size:15px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;"><a href="%%ViewProductUrl2%%" target="_blank" style="text-decoration:none; color:#ffffff;"><span
style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table></td>
</tr>
</table>
<!-- end second product -->
</td>
<td align="center" valign="top" width="10" class="block" style="font-size:15px;">&nbsp;</td>
<td class="block" width="100%" align="center" valign="top">
<!-- start thrid product -->
<table style="border:1px solid #ccc; padding: 5px;" cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align="center">
<!--CHANGE PRODUCT IMAGE HERE -->
<img border="0" alt="%%ViewProductName3%%" src="%%ViewImageUrl3%%" width=
"170" style="display:block; font-weight:bold; font-size:14px; max-width:375px; font-family: 'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color:#666666;"
class="product-image" /></td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:0px;">&nbsp;</td>
</tr>
<tr>
<!--CHANGE PRODUCT NAME HERE -->
<td class="prodHeadline" align="center" style="padding:5px; font-size:15px; line-height:15px; color:#418FDE; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">%%ViewProductName3%%</td>
</tr>
<tr>
<!--CHANGE PRODUCT PRICE HERE -->
<td class="prodPrice" align="center" style="padding:5px; font-size:15px; line-height:20px; color:#333333; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold;">%%ViewPrice3%%</td>
</tr>
<tr>
<td class="CTAbtn-container" align="center" style="padding:5px; font-size:13px; line-height:17px; color:#636463; font-family: 'Century
Gothic',Calibri,Helvetica,Arial,sans-serif;"><table cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<!--CHANGE BUTTON CTA HERE -->
<td bgcolor="#9678D3" class="CTAbtn" style="color:#ffffff; font-size:15px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;"><a href="#" target="_blank" style="text-decoration:none; color:#ffffff;"><span
style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table></td>
</tr>
</table>
<!-- end third product --></td>
</tr>
</table>
<!-- END 3 PRODUCT SECTION -->
