<!-- Start product row 1 -->
<tr>
<td align="left" valign="top">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>

<td align="left" class="fullWidthR" valign="top" width="360" bgcolor="#ffffff">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
<tr>
<td align="left" valign="top" class="fullWidth" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:left;">
<table cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
<td align="center" valign="top" class="fullWidthLeft">
<!--CHANGE PRODUCT 1 IMAGE HERE -->
<img border="0" align="center" alt="%%CartProductName1%%"
src="%%CartImageUrl1%%" width="360" class="emailImage" /> </td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td align="left" valign="top" width="10" class="fullWidth" style="font-size:15px;">&nbsp;</td>
<td align="left" class="fullWidthR" valign="middle" width="200" bgcolor="#59656e" style="padding:10px;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
<tr>
<td align="left" valign="top" class="prodDesc" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:center;">
<!--CHANGE PRODUCT 1 NAME HERE -->
<span style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; font-size: 20px; line-height: 38px; font-weight: bold; color: #ffffff;"
class="prodHeadline">%%CartProductName1%%</span> <br />
<!-- CHANGE SUB TITLE HERE/ PRODUCT DESCRIPTION -->
<span style="font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color: #ffffff; font-size: 14px;">%%CartDescription1%%</span> </td>
</tr>
<tr>
<td style="padding-top:10px;" align="center" valign="top" class="CTAbtn-container">
<table style="border:1px solid #ffffff;" cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<td class="CTAbtn" style="color:#ffffff; font-size:17px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;"><a href="%%CartProductUrl1%%" target="_blank" style="text-decoration:none; color:#ffffff;"><span
style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table></td>
</tr>
</table>
</td>
</tr>
</table>
<!-- end product row 1 -->
</td>
</tr>
<tr>
<td align="left" valign="top" height="10">&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top" width="560" style="font-size:15px;"></td>
</tr> <tr>
<td align="right" valign="top">
<!-- Start product row 2 -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align="left" class="foot" valign="middle" width="200" bgcolor="#59656e" style="padding:10px;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="right">
<tr>
<td align="left" valign="top" class="prodDesc" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:center;">
<!--CHANGE PRODUCT 2 NAME HERE -->
<span style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; font-size: 20px; line-height: 38px; font-weight: bold; color: #ffffff;"
class="prodHeadline">%%CartProductName2%%</span> <br />

<!-- CHANGE SUB TITLE/PRODUCT DESCRIPTION HERE -->
<span style="font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color: #ffffff; font-size: 14px;">%%CartDescription2%%</span> </td>
</tr>
<tr>
<td style="padding-top:10px;" align="center" valign="top" class="CTAbtn-container">
<table style="border:1px solid #ffffff;" cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<td class="CTAbtn" style="color:#ffffff; font-size:17px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;"><a href="%%CartProductUrl2%%" target="_blank" style="text-decoration:none; color:#ffffff;"><span
style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table></td>
</tr>
</table>
</td>
<td align="left" valign="top" width="10" class="foot" style="font-size:15px;">&nbsp;</td>
<td align="left" class="head" valign="middle" width="360" bgcolor="#ffffff">
<table cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
<td align="center" valign="top" class="fullWidthLeft">
<!--CHANGE PRODUCT 2 IMAGE HERE -->
<img border="0" align="center" alt="%%CartProductName2%%"
src="%%CartImageUrl2%%" width="360" class="emailImage" /> </td>
</tr>
</table></td>
</tr>
</table>
<!-- end product row 2 -->
</td>
</tr>
<tr>
<td align="left" valign="top" style="font-size:15px;">&nbsp;</td>
</tr> <tr>
<td align="left" valign="top">
<!-- Product row 3 -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
<td align="left" class="fullWidthR" valign="top" width="360" bgcolor="#ffffff">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
<tr>
<td align="left" valign="top" class="fullWidth" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:left;">
<table cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
<td align="center" valign="top" class="fullWidthLeft">
<!--CHANGE PRODUCT 3 IMAGE HERE -->
<img border="0" align="center" alt="%%CartProductName3%%" src="%%CartImageUrl3%%"
width="360" class="emailImage" /> </td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td align="left" valign="top" width="10" class="fullWidth" style="font-size:15px;">&nbsp;</td>
<td align="left" class="fullWidthR" valign="middle" width="200" bgcolor="#59656e" style="padding:10px;">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="left">
<tr>
<td align="left" valign="top" class="prodDesc" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color: #636463; textalign:center;">
<!--CHANGE PRODUCT 3 NAME HERE -->
<span style="font-family: 'Century Gothic', Calibri, Helvetica, Arial, sans-serif; font-size: 20px; line-height: 38px; font-weight: bold; color: #ffffff;"
class="prodHeadline">%%CartProductName3%%</span> <br />
<span style="font-family:'Century Gothic',Calibri,Helvetica,Arial,sans-serif; color: #ffffff; font-size: 14px;">%%CartDescription3%%</span> </td>
</tr>
<tr>
<td style="padding-top:10px;" align="center" valign="top" class="CTAbtn-container">

<table style="border:1px solid #ffffff;" cellpadding="0" cellspacing="0" border="0" class="CTAbtn" width="100%">
<tr>
<td class="CTAbtn" style="color:#ffffff; font-size:17px; line-height:20px; text-align:center; font-family:'Century
Gothic',Calibri,Helvetica,Arial,sans-serif; font-weight:bold; padding:10px 25px;"><a href="%%CartImageUrl3%%" target="_blank" style="text-decoration:none; color:#ffffff;"><span
style="color:#ffffff;">BUY ONLINE »</span></a></td>
</tr>
</table></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<!-- end product row 3 -->